- res_datetime = parse_time(reservation)
- needs_conf = !reservation['reconfirmed'] && res_datetime < Time.now + (12*60*60)
.level
  .card.is-fullwidth
    = render 'reservation_header', reservation: reservation
    %form
      %input{:type => 'hidden', :name => 'res_num', :value => reservation['res_num']}
      .card-content{:style => "display: none;"}
        .content
          %label.label Reservation 
          %p.control
            = reservation['res_num']
          %label.label Vehicle Type
          %p.control
            = reservation['res_veh_type']
          - if res_datetime < Time.now + (2*60*60)
            = render 'client_info', reservation: reservation
          %label.label Pickup Address
          %p.control
            = reservation['res_pick']
          %label.label Dropoff Address
          %p.control
            = reservation['res_drop']
          - unless reservation['res_airline'].blank?
            = render 'flight_info', reservation: reservation
          %label.label Passenger Notes
          %p.control
            = reservation['res_notes'].html_safe
          - unless reservation['res_priv_notes'].blank?
            %label.label Dispatch Notes
            %p.control
              = reservation['res_priv_notes'].html_safe
          %label.label Base Charge
          %p.control
            = '$' + reservation['res_price']
          %label.label Pre-Paid
          %p.control
            = reservation['res_prepaid'] != '0' ? 'Yes' : 'No'
          - unless reservation['res_arr_status'].blank?
            = render 'flight_status', reservation: reservation
          = render 'actions', reservation: reservation
