!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=320, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.css", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}
    %script{:crossorigin => "anonymous", :integrity => "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", :src => "https://code.jquery.com/jquery-3.1.1.min.js"}
    %title Driver Page
  %body
    .section
      %nav.level.is-mobile
        %p.level-item.has-text-left
          %strong #{@driver['name']}
        %p.level-item.has-text-right
          %a.link.is-info.reload Refresh
      - if @reservations.empty?
        %p.level-item.has-text-centered
          = render 'message'
      - else
        - @reservations.each do |reservation|
          - if reservation['res_status'] == '3'
            = render 'reservation', reservation: reservation
          - else
            = render 'canceled_reservation', reservation: reservation
      %nav.level.is-mobile
        %p.level-item.has-text-centered
          %a.link.is-info.terms-and-conditions Terms and Conditions
    = render 'terms'
    = render 'timeout'
    :javascript
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(recordPosition);
        } else {
          $('input[name=latlong]').val('NONE');
        }
      }

      function recordPosition(position) {
        $('input[name=latlong]').val(position.coords.latitude + "," + position.coords.longitude);
      }

      $(document).ready(function() {
        $('.card-header').click(function(){
          $(this).parents('.card').find('.card-content').slideToggle();
        });

        $('select').on('change', function() {
          if ($(this).val() === 'No') {
            $(this).parents('.content').find('.wait-detail').slideUp();
          } else {
            $(this).parents('.content').find('.wait-detail').slideDown();
          }
        });

        $('.reload').on('click', function() {
          location.reload();
        });

        $('a.terms-and-conditions').on('click', function() {
          $('div.terms-and-conditions').addClass('is-active');
        });

        $('a.close-modal').on('click', function() {
          $(this).parents('.modal').removeClass('is-active');
        });

        setTimeout(function(){ $('.timed-out').addClass('is-active'); }, 1800000)
      
        $('.api').click( function(e){
          e.preventDefault();
          var frm = $(this).parents('form');
          var dat = JSON.stringify(frm.serializeArray());
          var url = '#{Rails.configuration.aces_legacy_api}/acesver3/API/resources/reservation/index.php';
          if (frm.find('input[name="type"]').val() === 'driverOnSite') { getLocation(); }
          $.post(url, dat, function(data) {
            location.reload();
          });
        });
      });
